@import url("variables.css");

.top {
  background-image: url(assets/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120vh;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 44px 0 44px;
}

.logo-header {
  height: 33px;
  width: 170px;
  padding-top: 12px;
}

.hamburger-menu {
  display: none;
}

.menu {
  display: flex;
  gap: 48px;
  padding-bottom: 16px;
}

.menu-item {
  font: var(--barlow-header);
  font-weight: 200;
  color: var(--white);
}

.contact {
  font: var(--fraunces-header);
  color: var(--dark-blue);
  background-color: var(--white);
  border: none;
  border-radius: 28px;
  width: 180px;
  height: 56px;
  padding: 12px 28px 12px 28px;
}

.contact:hover {
  color: var(--white);
  background-color: var(--button-background);
  transition: background-color 0.5s ease; 
}

.title {
  color: var(--white);
  text-align: center;
  font: var(--fraunces-title);
  letter-spacing: 8px;
  padding-top: 32px;
}

.arrow {
  padding-top: 24px;
}

.central-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.egg-photo {
  background-image: url(assets/desktop/image-transform.jpg);
}

.cup-photo {
  background-image: url(assets/desktop/image-stand-out.jpg);
}

.cherry-section {
  background-image: url(assets/desktop/image-graphic-design.jpg);
  color: var(--green);
}

.tangerine-section {
  background-image: url(assets/desktop/image-photography.jpg);
  color: var(--darkest-blue);
}

.egg-photo,
.cup-photo,
.cherry-section,
.tangerine-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.egg-cup-heading {
  font: var(--fraunces-heading);
}

.egg-text,
.cup-text {
  width: 448px;
  margin: auto;
}

.egg-cup-heading {
  color: var(--dark-blue);
}

.egg-cup-paragraph {
  font: var(--barlow-header);
  color: var(--grey);
}

.highlight-text {
  font: var(--fraunces-highlight);
  color: var(--dark-blue);
  position: relative;
}

.highlight-text::after {
  content: '';
  position: absolute;
  left: -6;
  bottom: -4px;
  width: 112%;
  height: 8px;
  border-radius: 25px;
  transition: background-color 0.5s ease; 
}


#yellow-highlight::after {
  background-color: var(--light-yellow); 
}

#yellow-highlight:hover::after {
background-color: var(--yellow); 
}

#pink-highlight::after {
  background-color: var(--light-pink);
}

#pink-highlight:hover::after {
  background-color: var(--pink); 
  }


.fruit-box {
  text-align: center;
  width: 360px;
  margin: auto;
  padding-top: 340px;
}

.cherry-heading,
.tangerine-heading {
  font: var(--fraunces-subheading);
}

.fruit-text {
  font: var(--barlow-body);
  line-height: 28px;
}

.testimonial-heading {
  color: var(--light-grey);
  font: var(--fraunces-section);
  letter-spacing: 4px;
  text-align: center;
  margin-top: 140px;
}

.testimonial-grid {
  display: flex;
  padding: 0 60px 60px 60px;
}

.testimonial-photo {
  border-radius: 100%;
  width: 72px;
  margin: auto;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 52px;
}

.review-text {
  font: var(--barlow-body);
  color: var(--slate);
  line-height: 24px;
}

.review-name {
  font: var(--fraunces-subsection);
  color: var(--dark-blue);
}

.review-role {
  font: var(--barlow-detail);
  color: var(--light-grey);
  margin-top: -16px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid black;
} 

.milk-bottles {
  background-image: url(assets/desktop/image-gallery-milkbottles.jpg);
}

.orange-plate {
  background-image: url(assets/desktop/image-gallery-orange.jpg);
}

.cone {
  background-image: url(assets/desktop/image-gallery-cone.jpg);
}

.sugar-cubes {
  background-image: url(assets/desktop/image-gallery-sugarcubes.jpg);
}

.footer-box {
  background-color: var(--footer-background);
}

.milk-bottles,
.orange-plate,
.cone,
.sugar-cubes {
  background-repeat: no-repeat;
  height: 100%;
  background-size: contain;
  background-color: var(--footer-background);
  max-width: 100%;
}


.logo-footer {
  margin-top: -80px;
  margin: auto;
}



