@import url("variables.css");

.top {
  background-image: url(assets/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120vh;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 44px 0 44px;
}

.logo-header {
  height: 33px;
  width: 170px;
  padding-top: 12px;
}

.hamburger-menu,
.checkbox,
.mobile-menu {
  display: none;
}

.menu {
  display: flex;
  gap: 48px;
  padding-bottom: 16px;
}

.menu-item {
  font: var(--barlow-header);
  font-weight: 200;
  color: var(--white);
}

.contact {
  font: var(--fraunces-header);
  color: var(--dark-blue);
  background-color: var(--white);
  border: none;
  border-radius: 28px;
  width: 180px;
  height: 56px;
  padding: 12px 28px 12px 28px;
}

.contact:hover {
  color: var(--white);
  background-color: var(--button-background);
  transition: background-color 0.5s ease;
}

.title {
  color: var(--white);
  text-align: center;
  font: var(--fraunces-title);
  letter-spacing: 8px;
  padding-top: 32px;
}

.arrow {
  padding-top: 24px;
}

.egg-photo-mobile,
.cup-photo-mobile {
  display: none;
}

.central-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.egg-photo {
  background-image: url(assets/desktop/image-transform.jpg);
}

.cup-photo {
  background-image: url(assets/desktop/image-stand-out.jpg);
}

.cherry-section {
  background-image: url(assets/desktop/image-graphic-design.jpg);
  color: var(--green);
}

.tangerine-section {
  background-image: url(assets/desktop/image-photography.jpg);
  color: var(--darkest-blue);
}

.egg-photo,
.cup-photo,
.cherry-section,
.tangerine-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.egg-cup-heading {
  font: var(--fraunces-heading);
  color: var(--dark-blue);
}

.egg-text,
.cup-text {
  width: 448px;
  margin: auto;
}

.egg-cup-paragraph {
  font: var(--barlow-header);
  color: var(--grey);
}

.highlight-text {
  font: var(--fraunces-highlight);
  color: var(--dark-blue);
  position: relative;
}

.highlight-text::after {
  content: "";
  position: absolute;
  left: -6;
  bottom: -4px;
  width: 112%;
  height: 8px;
  border-radius: 25px;
  transition: background-color 0.5s ease;
}

#yellow-highlight::after {
  background-color: var(--light-yellow);
}

#yellow-highlight:hover::after {
  background-color: var(--yellow);
}

#pink-highlight::after {
  background-color: var(--light-pink);
}

#pink-highlight:hover::after {
  background-color: var(--pink);
}

.fruit-box {
  text-align: center;
  width: 360px;
  margin: auto;
  padding-top: 340px;
}

.cherry-heading,
.tangerine-heading {
  font: var(--fraunces-subheading);
}

.fruit-text {
  font: var(--barlow-body);
  line-height: 28px;
}

.testimonial-heading {
  color: var(--light-grey);
  font: var(--fraunces-section);
  letter-spacing: 4px;
  text-align: center;
  margin-top: 140px;
}

.testimonial-grid {
  display: flex;
  padding: 0 60px 60px 60px;
}

.testimonial-photo {
  border-radius: 100%;
  width: 72px;
  margin: auto;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 52px;
}

.review-text {
  font: var(--barlow-body);
  color: var(--slate);
  line-height: 24px;
}

.review-name {
  font: var(--fraunces-subsection);
  color: var(--dark-blue);
}

.review-role {
  font: var(--barlow-detail);
  color: var(--light-grey);
  margin-top: -16px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-image {
  display: block;
  max-width: 100%;
}

.footer-box {
  background-color: var(--footer-background);
  padding: 40px;
}

.footer-logo-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-menu {
  display: flex;
  gap: 42px;
  justify-content: center;
  margin-top: 40px;
  padding-right:12px;
}

.footer-menu-item {
  color: var(--footer-text);
  font: var(--barlow-header);
}

.social-media-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 48px 0 28px 0;
}

/* MOBILE */

@media screen and (max-width: 700px) {

.nav-menu {
  padding: 20px 20px 0 20px;
}

.hamburger-menu {
  display: block;
  width: 48px;
  margin-left: 120px;
  z-index: 2;
} 

#menuContent {
  position: absolute;
  top: 40px; 
  width: 300px;
  height: 320px;
  margin-left: 20px;
  margin-top: 50px;
  z-index: 2;
  background-color: var(--white);
}

/* Triangle on top right corner */
#menuContent::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid var(--white);
  border-right: 18px solid var(--white);
  z-index: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  padding-left: 0;
  padding-top: 20px;
}

.mobile-menu-item {
  font: var(--barlow-hamburger);
  color: var(--grey);
  padding-bottom: 10px;
}

.mobile-contact {
  font: var(--fraunces-highlight);
  color: var(--dark-blue);
  background-color: var(--yellow);
  border: none;
  border-radius: 28px;
  padding: 18px 28px 18px 28px;
}

.yellow-contact {
  margin-top: 16px;
}

input {
  display: block;
  margin-left: 120px;
}

.logo-header {
  padding-top: 0;
}

.menu {
  display: none;
}

.title {
  font: var(--fraunces-heading);
  letter-spacing: 4px;
}

.arrow {
  padding-top: 40px;
}

.top {
  background-image: url(assets/mobile/image-header.jpg);
  height: 80vh;
}

.egg-photo-mobile,
.cup-photo-mobile {
  display: block;
  max-width: 100%;
}

.central-grid {
  display: block;
}

.egg-photo {
  display: none;
}

.cup-photo {
  display: none;
}

.cherry-section {
  background-image: url(assets/mobile/image-graphic-design.jpg);
}

.tangerine-section {
  background-image: url(assets/mobile/image-photography.jpg);
}

.cup-photo,
.cherry-section,
.tangerine-section {
  height: 88vh;
}

.egg-cup-heading {
  font: var(--fraunces-heading-mobile);
  max-width: 90%;
  text-align: center;
  margin: auto;
}

.egg-text,
.cup-text {
  width: 78%;
  text-align: center;
  padding: 60px 0 60px 0;
}

.fruit-text {
  padding: 0 10px 0 10px;
}

.testimonial-grid {
  flex-direction: column;
  padding: 0;
}

.testimonial-heading {
  font: var(--fraunces-highlight);
  margin-top: 64px;
}

.testimonial-content {
  padding: 40px 40px 12px 40px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
}

}