
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


:root {
  --green: #24554a; 
  --darkest-blue: #052c3b;
  --dark-blue: #24303e;
  --white: #FFFFFF;
  --grey: #808387;
  --light-yellow:#fef2ba;
  --yellow: #fad400;
  --light-pink:#ffdbd4;
  --pink: #fe7766;
  --light-grey:#a7aaad;
  --slate:#5b636d;
  --footer-background:#90d4c6;
  --footer-text: #458d7e;
  }

:root {
  --barlow-hamburger: 600 20px 'Barlow', sans-serif;
  --barlow-header: 600 18px 'Barlow', sans-serif;
  --barlow-body: 600 16px 'Barlow', sans-serif;
  --barlow-detail: 600 14px 'Barlow', sans-serif;

  --fraunces-title: 900 56px 'Fraunces', serif;
  --fraunces-heading: 900 40px 'Fraunces', serif;
  --fraunces-heading-mobile: 900 32px 'Fraunces', serif;
  --fraunces-subheading: 900 28px 'Fraunces', serif;
  --fraunces-section: 900 20px 'Fraunces', serif;
  --fraunces-subsection: 900 18px 'Fraunces', serif;
  --fraunces-highlight: 700 16px 'Fraunces', serif;
  --fraunces-header: 700 12px 'Fraunces', serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}










