
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


:root {

  /* used */
  --green: #24554a; 
  --darkest-blue: #052C3B;
  --dark-blue: #24303e;
  --button-background: #78cef5;
  --white: #FFFFFF;
  --grey: #808387;
  --light-yellow:#fef2ba;
  --yellow: #fad400;
  --light-pink:#ffdbd4;
  --pink: #fe7766;

  --petrol-blue: #19536b;
  --footer-text: #458d7e;
  --footer-background:#90D4C6;
  --slate: #5a636c;
  --light-grey:#a7abae;
  }

:root {
  --barlow-header: 600 18px 'Barlow', sans-serif;
  --barlow-body: 600 16px 'Barlow', sans-serif;
  --fraunces-header: 700 12px 'Fraunces', serif;
  --fraunces-highlight: 700 16px 'Fraunces', serif;
  --fraunces-heading: 900 40px 'Fraunces', serif;
  --fraunces-subheading: 900 28px 'Fraunces', serif;
  --fraunces-title: 900 56px 'Fraunces', serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}








